.img-stickman {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 400px;
    text-align: right;
}
.text-block{
    max-width: 50%;
    font-family: arial, sans-serif;
    font-size: 18px;
}
.img-right{
    max-width: 300px;
    height: auto;
    border-radius:10px;
    display: block;
    margin-left: auto;
    box-shadow: 0 0 0 10px rgba(186,0,16,0.8);
}
#id-title{
    text-align: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 8px 20px;
}
.logo {
    text-align: start;
    max-width: 100px;
    margin: 10px;
}
.top-bar{
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar-center{
    display: flex;
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);;
    gap:20px;
}
.top-bar-right{
   display:flex
}

.top-bar a{
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s;

}

.top-bar a:hover{
    color: #ffffff;
}
.top-bar .register-btn{
    background: #0081fd;
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: bold;
}
.register-btn:hover{
    background: #006efd;
}
html , body {
    margin: 0;
    padding: 0;
}

.footer-column{
    flex: 1;
    min-width: 200px;
    margin: 10px;

}
.footer-line{
    border: none;
    height: 1px;
    background-color: #dddddd;
    width: 100vw;
    margin: 0;
}
.footer-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.site-footer{
    background-color: #ffffff;
    color: #000000;
    padding: 40px 20px;
}
.footer-column h4 {
    margin-bottom: 10px;
}
.footer-column ul{
    list-style: none;
    padding: 0;
}
.footer-column ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}
.footer-column ul li a:hover {
    color: #000000;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-family: "Century Gothic", sans-serif;;
    color: #777;
}