@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Eater&effect=fire-animation');

.img-stickman {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 400px;
    text-align: right;
}

.text-image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1300px;
    margin: 150px auto;
    gap: 40px;
    flex-wrap: wrap;
    font-family: arial, sans-serif;
    font-weight: bold;
}

.text-content {
    flex: 1;
    max-width: 600px;
    text-align: left;
    font-family: arial, sans-serif;
}

.text-content h2 {
    font-size: 70px;
    margin-bottom: 1px;
    line-height: 1;
}

.text-content h4 {
    font-size: 24px;
    margin-bottom: 1px;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    letter-spacing: -1px;
    text-shadow: 0 0 1px rgba(0,0,0,0.10);
}

.text-image-block img {
    flex: 1;
    margin-top: 80px;
    max-width: 600px;
    height: 300px;
    border-radius: 12px;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#id-title{
    text-align: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 8px 20px;
}
.logo {
    text-align: start;
    max-width: 100px;
    margin: 10px;
}
.top-bar{
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;

}
.top-bar-center{
    display: flex;
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);;
    gap:20px;
}
.top-bar-right{
   display:flex
}

.top-bar a:not(.login-btn):not(.register-btn) {
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    border: 6px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.top-bar a:not(.register-btn):not(.login-btn):hover {
    background: #e3e3e3;
    border-color: #e3e3e3;
}
.login-btn{
    padding: 3px 3px;
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
    border: 6px solid transparent;
    border-radius: 8px;
    display: inline-block;
    line-height: normal; /* убери 2.5 */
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover{
    background: #e3e3e3;
    border-color: #e3e3e3;
}
.register-btn{
    background: #006efd;
    color: #ffffff;
    padding: 3px 8px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 15px;
    border: 6px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}
.register-btn:hover{
    background: #3c589f;
}

html , body {
    margin: 0;
    padding: 0;
}

.text-middle{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.footer-column{
    flex: 1;
    min-width: 200px;
    margin: 10px;

}
.footer-line{
    border: none;
    height: 1px;
    background-color: #dddddd;
    width: 100vw;
    margin: 0;
}
.footer-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.site-footer{
    background-color: #ffffff;
    color: #000000;
    padding: 40px 20px;
}
.footer-column h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.footer-column ul{
    list-style: none;
    padding: 0;
}
.footer-column ul li a {
    color: #000000;
    text-decoration: none;
    line-height: 1.6;
    font-size: 18px;
}
.footer-column ul li a:hover {
    color: #000000;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #777;
}