.img-stickman {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 400px;
    text-align: right;
}
.text-block{
    max-width: 50%;
    font-family: arial, sans-serif;
    font-size: 18px;
}
.img-right{
    max-width: 300px;
    height: auto;
    border-radius:10px;
    display: block;
    margin-left: auto;
    box-shadow: 0 0 0 10px rgba(186,0,16,0.8);
}
#id-title{
    text-align: center;
}
.logo {
    text-align: start;
    max-width: 100px;
}